/* IMDB site */
.quicklinksArrowUp, .quicklinksArrowDown {
    position: initial !important;
    margin-left: 4px !important;
}

.show_more, .show_less {
    width: auto !important;
}

.imdb_csfd_link {
    color: #F86363 !important;
}