/* IMDB rating styles */
h2.average {
	font-size: 50px !important;
	text-shadow: 0 1px 3px #000;
}

div#rating {
	box-shadow: inset 0 1px 3px 0 #000;
}

#imdb_rating {
	padding: 10px 0;
	text-align: center;
	margin-bottom: 10px;
	font-size: 50px;
	box-shadow: inset 0 1px 3px 0 #000;
	text-shadow: 0 1px 3px #000;
	background: #DBA904;
	font-weight: bold;
	border-radius: 10px;
	color: #fff;
	background: #ffaf4b; /* Old browsers */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffaf4b), color-stop(100%,#ff920a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffaf4b 0%,#ff920a 100%); /* Chrome10+, Safari5.1+ */
}

#imdb_rating:after {
	font-size: 14px;
	line-height: 1em;
	font-weight: bold;
	color: #fff;
	content: "IMDb rating";
	display: block;
	margin: 0 !important;
	margin-top: 5px !important;
}

#imdb_rating a {
	color: white;
	text-decoration: none;
}

#share ul.ext li:not(:first-child) {
	vertical-align: top;
	padding-left: 1px;
	padding-right: 4px;
	border-right: dotted #a2a2a2 1px;
}

#share ul.ext li:last-child {
	border-right: 0px;
}

#share ul.ext li:first-child {
	padding-right: 5px;
}

.go_up {
	z-index: 1;
	position: fixed;
	margin-left: 1000px;
	bottom: 0;
	opacity: 0.6;
}

.go_up:hover {
	opacity: 1;
}

.hcenter {
	display: block;
	text-align: center;
}

#eph4 {
	background: #EEE;
}

.epTable {
	width: 100%;
	border-spacing: inherit;
}

.epTable td {
	width: 50%;
	vertical-align: top;
	padding: 10px;
	border-bottom: 1px dashed #B7B7B7;
}

.epTable td:nth-child(even) {
	border-left: 1px dashed #B7B7B7;
}

/* artist tooltip */
.artist-tooltip {
	position: absolute;
	z-index: 90;
	width: 400px;
	background-color: #DDD;
	color: #000;
	padding: 8px;
	font-size: 12px;
	border: 7px solid #B01;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}

.artist-tooltip .content {
	position: relative;
	background-color: #DDD;
	padding-bottom: 0;
}

.artist-tooltip .image {
	float: left;
	text-align: center;
}

.artist-tooltip .info {
	_float: left;
	position: relative;
	overflow: hidden;
	padding-left: 10px;
}

.artist-tooltip .info h1 {
	line-height: 1.1em;
}

.artist-tooltip h1, .movie-tooltip  h1 {
	font-family: Tahoma, Arial, Verdana;
	font-size: 16px;
	text-align: left;
	color: #000;
	text-transform: none;
}

.artist-tooltip ul {
	list-style: none;
}

.artist-tooltip .info li {
	margin-bottom: 6px;
	line-height: 1.2em;
}

.artist-tooltip .info table th {
	width: 30px;
}

.artist-tooltip .info table td {
	padding-right: 5px;
}

.artist-tooltip .info .photo_copyright {
	display: none;
}
.artist-tooltip .clear {
	clear: both;
}

/* movie tooltip */
.movie-tooltip {
	position: absolute;
	z-index: 90;
	width: 400px;
	background-color: #DDD;
	color: #000;
	padding: 8px;
	font-size: 12px;
	border: 7px solid #B01;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}

.movie-tooltip td:last-child {
	vertical-align: top;
	padding: 0 8px;
}

.movie-tooltip h4 {
	display: inline;
}

.movie-tooltip #rating-good, .movie-tooltip #rating-average, .movie-tooltip #rating-trash {
	color: #fff;
	color: white;
	font-size: 150%;
	font-weight: bold;
	text-align: center;
}

.movie-tooltip #rating-good {
	background-color: #b01;
}

.movie-tooltip #rating-average {
	background-color: #658db4;
}

.movie-tooltip #rating-trash {
	background-color: #535353;
}