/* Popup window styles */
#searchformmovie {
	padding: 0px; 
	margin: 0px; 
	margin-right: 4px;
	float: left; 
	display: inline;
}

#searchButton, #submitButton {
	font-family: Century Gothic, sans-serif;
	font-size: 13px;
	font-weight: bold;
	background-color: #be1919;
	border: 0px #BA0305 solid;
	color: #ffffff;
	height: 24px;
	padding-left: 5px;
	text-decoration: none;
}

#searchButton:hover, #submitButton:hover {
	text-decoration: underline;
	cursor: pointer;
}

input[type="text"] {
	font-family: Century Gothic, sans-serif;
	font-size: 13px;
	background: url("../img/csfd.png") no-repeat 5px #FCFCFC;
	border: 1px solid #bfb6b6;
	color: #bfb6b6;
	height: 25px;
	outline: medium none;
	width: 160px;
	padding-left: 40px;
}

input[type="text"]:focus {
	background: url("../img/csfd.png") no-repeat 5px #FCFCFC;
	border-color: #A6A6A6;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.3) inset;
	color: #6C6C6C;
	content: "";
}

/* Options page styles */
body.options-page {
	background-color: #f8f3f3;
	font-family: Century Gothic, sans-serif;
}

.content-left {
	position: fixed;
	width: 35%;
	height: 100%;
	left: 0;
	top: 0;
	padding-right: 3%;
	padding-left: 2%;
	text-align: right;
	background: #ebe8e8;
	border-right: 1px solid #b4adad;
	color: #b10b0b;
}

.content-left h1 {
	font-size: 30px;
	font-weight: bold;
	padding-bottom: 20px;
}

.content-left h2 {
	font-size: 20px;
}

.content-left .bottom {
	position: absolute;
	height: 100px;
	right: 8%;
	bottom: 0;
	font-size: 12px;
}

.content-left a {
	color: #880404;
	text-decoration: underline;
}

.content-left a:hover {
	text-decoration: none;
}

.content-right {
	width: 55%;
	padding-top: 5%;
	padding-bottom: 2%;
	margin-left: 45%;
	color: #333333;
}

.content-right table {
	width: 90%;
}

.content-right table td {
	padding-bottom: 7px;
}

#status {
	color: #2cbc2c; 
	padding-left: 5px; 
	font-weight: bold; 
	font-size: 12px;
}